/**
 * Minified by jsDelivr using clean-css v5.3.3.
 * Original file: /npm/modern-normalize@3.0.1/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,::after,::before{box-sizing:border-box}html{font-family:system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';line-height:1.15;-webkit-text-size-adjust:100%;tab-size:4}body{margin:0}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{border-color:currentcolor}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}
/*# sourceMappingURL=/sm/d2d8cd206fb9f42f071e97460f3ad9c875edb5e7a4b10f900a83cdf8401c53a9.map */
h1, h2{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}


/* BACKGROUND SIDE PANEL STYLES */
.left-panel {
    position: relative;
    top: 0;
    left: 0;

    width: 35vw;
    height: 100vh;

    background-image: url("/assets/background/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position:absolute;
    top: 25vh;
    left: 0;

    width: 100%;
    height: 15vh;


    background-color: black;
    opacity: 0.5;
}

.content {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;

    top: 25vh;
    left: 0;

    width: 100%;
    height: 15vh;
}

.logo {
    width: 5vw;
    height: 5vh
    height: auto;
    z-index: 1;
}

@font-face {
        font-family: norse-bold;
        src: url("/assets/fonts/norse/Norsebold.otf");
    }

.title {
    width: auto;
    height: auto;
    z-index: 1;

    font-family: norse-bold;
    font-size: 100px;
    color: white;

    margin: 0;
}
/* END BACKGROUND SIDE PANEL STYLES */

/* FORM SIDE PANEL STYLES */
.right-panel {
    position: relative;
    top: 0;
    left: 0;

    width: 65vw;
    height: 100vh;
}

.hero-content-overlay {
    position: absolute;

    width: 65vw;
    height: 40vh;

    background-color: black;
    opacity: 0.04;
    
    z-index: 0;
}
.hero-content-container {
    position: absolute;
    justify-content: left;
    align-items: center;
    display: flex;

    
    width: 50vw;
    height: 40vh;
}

.hero-content {
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: black;

    margin: 11vh 0vw 0vw 2vw;

    z-index: 1;
}

/* END FORM SIDE PANEL STYLES */